<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$.ajax({
		type:"post",
		url : "empMyPage",
		success:function(result){ // result ==> ModelAndView
			var item="";
				item+="이름 : "+ result.employeeCommand.empName +"<br />";
				item+="아이디 : "+ result.employeeCommand.empId +"<br />";
				item+="주소 : "+ result.employeeCommand.empAddr +"<br />";
				item+="상세주소 : "+ result.employeeCommand.empAddrDetail +"<br />";
				item+="우편번호 : "+ result.employeeCommand.empPost +"<br />";
				item+="연락처 : "+ result.employeeCommand.empPhone +"<br />";
				item+="주민번호 : "+ result.employeeCommand.empJumin+"<br />";
				item+="입사일 : "+ result.employeeCommand.empHireDate +"<br />";
				item+="이메일 : "+ result.employeeCommand.empEmail +"<br />";
				$("#content").html(item);
		},
		error:function(){
			alert("서버오류");
		}
	});
	1970010100000001 : 1
});
</script>
</head>
<body>
<ul>
	<li><a href="/">홈</a></li>
	<li><a href="employeeMyPage">내정보 보기</a></li>
	<li><a href="empModify">내정보 수정</a></li>
	<li><a href="empPwModify">비밀번호변경</a></li>
</ul>
<div id="content" >

</div>
</body>
</html>