<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<ul>
		<li><a href="/">홈</a></li>
		<li><a href="memberMyPage">내정보 보기</a></li>
		<li><a href="memberUpdate">내정보 수정</a></li>
		<li><a href="memberPwModify">비밀번호변경</a></li>
		<li><a href="memberDrop">회원탈퇴</a></li>
	</ul>
<form action="memberDropOk" method="post">
비밀번호 : <input type="password" id="memberPw" name="memberPw" />
		 <input type="submit" value="회원탈퇴" />
</form>
</body>
</html>





