<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/static/js/daumAddressScript.js"></script>
</head>
<body>
<table width="700" align="center">
<tr><td> 주문서 <hr />1. 주문 상품<br /></td></tr>
</table>
<table width="700" align="center">
	<tr><td>상품 대표 이미지</td><td>주문 상품 정보</td><td>수량/상품금액</td><td>금액</td></tr>
	
	<tr th:each="dto : ${list}">
		<td><img th:src="|/static/upload/${dto.goodsDTO.goodsMainStoreImage}|" width="30"/></td>
			<td>[[${dto.goodsDTO.goodsName}]]</td>
			<td>[[${dto.cartDTO.cartQty}]]/
				[[${dto.goodsDTO.goodsPrice}]]</td>
			<td>[[${dto.goodsDTO.goodsPrice * dto.cartDTO.cartQty}]]</td>
	</tr>
</table>
<form action="goodsOrder" method="post">
<input type="hidden" name="goodsNums" th:value="${goodsNums}" />
<input type="hidden" name="totalPaymentPrice" th:value="${sumPrice + deliveryCost}" />
<input type="hidden" name="purchaseName"  th:value= "${list[0].goodsDTO.goodsName + ' 외' + (list.size() - 1) + '개' }" />
<table width="700"  align="center" >
	<tr><td align="left">
		<table width="350">
			<tr><td colspan=2>2. 배송 정보</td></tr>
			<tr><td>받는 사람 </td>
				<td><input type="text" name="deliveryName"/> </td></tr>
			<tr><td>받는 사람 주소 </td>
				<td><input type="text" name="deliveryAddr" id="sample4_roadAddress" 
						onclick="execDaumPostcode();" readonly="readonly"/> </td></tr>
			<tr><td>받는 사람 상세 주소 </td>
				<td><input type="text" name="deliveryAddrDetail"/> </td></tr>
			<tr><td>받는 사람 우편번호 </td>
				<td><input type="text" name="deliveryPost"  id="sample4_postcode"
						readonly="readonly"/> </td></tr>
			<tr><td>받는 사람 연락처 </td>
				<td><input type="tel" name="deliveryPhone"/> </td></tr>
			<tr><td>배송 메세지 </td>
				<td><input type="text" name="message"/> </td></tr>
		</table>
	</td>
	<td align="right">
		<table width="350">
			<tr><td colspan=2>3. 결제정보</td></tr>
			<tr><td> 총 금액 </td><td>[[${#numbers.formatCurrency(sumPrice)}]]원</td></tr>
			<tr><td> 총 배송비</td><td>
					<span th:if="${deliveryCost == 0}">무료배송</span>
					<span th:if="${deliveryCost != 0}">[[${#numbers.formatCurrency(deliveryCost)}]]원</span>
				</td></tr>
			<tr><td> 총 결제 금액 </td><td>[[${#numbers.formatCurrency(sumPrice + deliveryCost)}]]원</td></tr>
			<tr><td align="center"  colspan=2>
				<input type="submit" value="구매하기"/>
			</td></tr>
		</table>
	</td></tr>
</table>
</form>
</body>
</html>

