<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
</head>
<body>
<table width="800" align="center" >
	<tr><td>주문번호 / 결제번호</td><td> 상품명 </td><td> 주문상태 </td></tr>
	
	<tr th:each=" orderListDTO : ${list}">
		<td>[[${orderListDTO.purchaseDTO.purchaseNum}]] / 
			<th:block th:if="${orderListDTO.paymentDTO.appldate != null}">
				<th:block th:if="${orderListDTO.paymentDTO.confirmnumber != null}">
					[[${orderListDTO.paymentDTO.confirmnumber}]]
				</th:block>
				<th:block th:if="${orderListDTO.paymentDTO.confirmnumber == null}">
					현금결제
				</th:block>
			</th:block>
			<th:block th:if="${orderListDTO.paymentDTO.appldate == null}">
				결제대기중
			</th:block>
		</td>
		<th:block th:each="purchaseListGoodsDTO : ${orderListDTO.purchaseListGoodsDTOs}">
		<td><img th:src="|/static/upload/${purchaseListGoodsDTO.goodsDTO.goodsMainStoreImage}|" 
				width="30" />
			[[${purchaseListGoodsDTO.goodsDTO.goodsName}]]
		</td>
		</th:block>
		<td> 
			<span th:if="${orderListDTO.paymentDTO.appldate == null}">
				<a th:href="|paymentOk?purchaseNum=${orderListDTO.purchaseDTO.purchaseNum}|">결제하기</a> 
			</span>
			<span th:if="${orderListDTO.paymentDTO.appldate != null}">
				<th:block th:if="${orderListDTO.deliveryDTO.deliveryNum == null }">
			 	<a th:href="@{paymentDel(purchaseNum=${orderListDTO.purchaseDTO.purchaseNum})}">결제취소</a>
			 	</th:block> 
			 	<th:block th:if="${orderListDTO.deliveryDTO.deliveryNum != null }">
			 		<th:block th:if="${orderListDTO.deliveryDTO.deliveryStatus == '배송중' }">
			 			배송중
			 		</th:block>
			 		<th:block th:if="${orderListDTO.deliveryDTO.deliveryStatus == '배송완료' }">
			 			배송완료 | 
			 			<th:block th:if="${orderListDTO.purchaseDTO.purchaseStatus != '구매확정'}">
			 			<a th:href="|purchaseOk?purchaseNum=${orderListDTO.purchaseDTO.purchaseNum}|">구매확정</a>
			 			</th:block>
			 			<th:block th:if="${orderListDTO.purchaseDTO.purchaseStatus == '구매확정'}">
			 				 <th:block th:each=" dto : ${orderListDTO.purchaseListGoodsDTOs}">
				 				<a th:href="@{/review/goodsReview(
				 								goodsNum=${dto.goodsDTO.goodsNum}
				 							   ,purchaseNum=${orderListDTO.purchaseDTO.purchaseNum}
				 							)}">후기등록|수정</a>
				 			</th:block>
			 			</th:block>
			 		</th:block>
			 	</th:block>
			</span>
		</td>
	</tr>
</table>
</body>
</html>