<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/check.js"></script>
</head>
<body>
회원수정 페이지입니다.<br />
<form action="memberUpdate" method="post" th:object="${memberCommand}"><!-- dto -->
<input type="hidden" name="memberPw" value="!111Qqqq" />
<input type="hidden" name="memberPwCon" value="!111Qqqq" />
회원번호 : <input type="text" th:field="*{memberNum}" name="memberNum"> <br />
이름 : <input type="text" name="memberName" th:field="*{memberName}"/>
<span th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}" ></span><br />
아이디 : <input type="text" name="memberId" th:field="*{memberId}" readonly="readonly"/>
<span th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}" ></span><br />
주소 : <input type="text" name="memberAddr" th:field="*{memberAddr}" />
<span th:if="${#fields.hasErrors('memberAddr')}" th:errors="*{memberAddr}" ></span><br />
상세주소 : <input type="text" name="memberAddrDetail" th:field="*{memberAddrDetail}"/><br />
우편번호 : <input type="text" name="memberPost" th:field="*{memberPost}"/><br />
연락처1 : <input type="tel" name="memberPhone1" th:field="*{memberPhone1}"/>
<span th:if="${#fields.hasErrors('memberPhone1')}" th:errors="*{memberPhone1}" ></span><br />
연락처2 : <input type="tel" name="memberPhone2" th:field="*{memberPhone2}"/><br />
성별 : <input type="radio" name="gender" value="M" 
				th:checked="*{gender == 'M'}" />남자
	  <input type="radio" name="gender" value="F"  
	  			th:checked="${memberCommand.gender == 'F'}"/>여자	<br />
등록일 : <input type="date" name="memberRegist" 
		th:value="${#dates.format(memberCommand.memberRegist,'yyyy-MM-dd')}" /><br />
생년월일 : <input type="date" name="memberBirth" 
		th:value="${#dates.format(memberCommand.memberBirth,'yyyy-MM-dd')}" /><br />
이메일 : <input type="email" name="memberEmail" id="userEamil" th:field="*{memberEmail}"/>
<span id="emialCheck"></span>
<span th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}" ></span><br />
<input type="submit" value="회원수정 완료" /> 
<input type="button" value="회원목록" onclick="javascript:location.href='memberList.mem'">
</body>
</html>