<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
회원등록 페이지입니다.<br />
<form action="memberRegist" method="post" th:object="${memberCommand}">
회원번호 :        	<input type="text" name="memberNum" th:value="${memberCommand.memberNum}"  />자동부여<br />
회원아이디 :      	<input type="text" name="memberId" id="userId" th:value="${memberCommand.memberId}" />
		       	<span style="color:red" th:if="${#fields.hasErrors('memberId')}"th:errors="*{memberId}"></span><br />
회원비밀번호 :    	<input type="password" name="memberPw" />
				<span style="color:red" th:if="${#fields.hasErrors('memberPw')}"  th:errors="*{memberPw}"></span><br />
회원비밀번호확인 : 	<input type="password" name="memberPwCon" />
			   	<span style="color:red" th:if="${#fields.hasErrors('memberPwCon')}" th:errors="*{memberPwCon}"></span><br />
회원명 :         	<input type="text" name="memberName"  th:value="${memberCommand.memberName}" />
				<span style="color:red" th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}"></span><br />
회원주소 : 		<input type="text" name="memberAddr" id="sample4_roadAddress"  th:value="${memberCommand.memberAddr}" /><button type="button" >우편번호검색</button><br />
				<span style="color:red" th:if="${#fields.hasErrors('memberAddr')}" th:errors="*{memberAddr}"></span><br />
상세주소 : 		<input type="text" name="memberAddrDetail" th:value="${memberCommand.memberAddrDetail}"/><br />
우편번호 : 		<input type="text" name="memberPost" id="sample4_postcode" th:value="${memberCommand.memberPost}" /><br />
회원연락처1 : 		<input type="tel" name="memberPhone1" th:value="${memberCommand.memberPhone1}"/>
				<span style="color:red" th:if="${#fields.hasErrors('memberPhone1')}" th:errors="*{memberPhone1}"></span><br />
회원연락처2 : 		<input type="tel" name="memberPhone2" th:value="${memberCommand.memberPhone2}"/>
				<span style="color:red" th:if="${#fields.hasErrors('memberPhone2')}"   th:errors="*{memberPhone2}"></span><br />
회원성별 : 		<input type="radio" name="gender" value="M" checked="checked"/>남자
				<input type="radio" name="gender" value="F"/>여자<br />
회원생년월일 : 		<input type="date" name="memberBirth"  th:value="${memberCommand.memberBirth}" />
				<span style="color:red" th:if="${#fields.hasErrors('memberBirth')}"  th:errors="*{memberBirth}"></span><br />
회원이메일 : 		<input type="email" name="memberEmail" th:value="${memberCommand.memberEmail}"/>
				<span style="color:red" th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}"></span><br />
<input type="submit" value="회원등록" />
</form>
</body>
</html>