<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCShopping.mapper.GoodsStockMapper">
<resultMap type="goodsStock" id="goodsStockResultMap">
	<result column="stock" jdbcType="VARCHAR" property="stock"/>
	<association property="goodsDTO" javaType="goods" >
		<id column="goods_Num" jdbcType="VARCHAR" property="goodsNum"/>
		<result column="goods_Name" jdbcType="VARCHAR" property="goodsName"/>
		<result column="goods_Price" jdbcType="BIGINT" property="goodsPrice"/>
		<result column="GOODS_CONTENTS" jdbcType="VARCHAR" property="goodsContents"/>
		<result column="VISIT_COUNT" jdbcType="BIGINT" property="visitCount"/>
		<result column="GOODS_MAIN_IMAGE" jdbcType="VARCHAR" property="goodsMainImage"/>
		<result column="GOODS_MAIN_STORE_IMAGE" jdbcType="VARCHAR" property="goodsMainStoreImage"/>
		<result column="GOODS_DETAIL_IMAGE" jdbcType="VARCHAR" property="goodsDetailImage"/>
		<result column="GOODS_DETAIL_STORE_IMAGE" jdbcType="VARCHAR" property="goodsDetailStoreImage"/>
		<result column="EMP_NUM" jdbcType="VARCHAR" property="empNum"/>
		<result column="GOODS_REGIST" jdbcType="DATE" property="goodsRegist"/>
		<result column="UPDATE_EMP_NUM" jdbcType="VARCHAR" property="updateEmpNum"/>
		<result column="GOODS_UPDATE_DATE" jdbcType="DATE" property="goodsUpdateDate"/>
	</association>
</resultMap>
<select id="goodsStockSelectOne" parameterType="string" resultMap="goodsStockResultMap">
	select 	g.goods_Num , goods_name , goods_price ,goods_contents , emp_num  
	  ,goods_regist , GOODS_MAIN_IMAGE ,GOODS_MAIN_STORE_IMAGE 
	  , GOODS_DETAIL_IMAGE ,GOODS_DETAIL_STORE_IMAGE 
	  , visit_count ,update_Emp_Num , goods_Update_Date
	  , stock
	from goods g left outer join 
	(select ip.goods_num , COALESCE(iqty,0) - COALESCE(pqty, 0) stock
	from (select goods_num, sum(IPGO_QTY)  iqty
			from goods_ipgo 
			group by goods_num) ip left outer join 
		(select goods_num , sum(purchase_qty) pqty
		from purchase_list
		group by goods_num) pl
	on ip.goods_num = pl.goods_num) s
	on g.goods_num = s.goods_num
	where g.goods_num = #{goodsNum} 
</select>
<update id="goodsVisitCountUpdate" parameterType="string">
	update goods
	set visit_count = visit_count + 1
	where goods_num = #{goodsNum}
</update>
</mapper>













