<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="purchaseRepositorySql">
<sql id="purchaseBaseColumns">
  PURCHASE_NUM, PURCHASE_DATE, PURCHASE_PRICE, DELIVERY_ADDR, DELIVERY_ADDR_DETAIL
, DELIVERY_POST, DELIVERY_PHONE, MESSAGE, PURCHASE_STATUS, MEMBER_NUM, DELIVERY_NAME
, PURCHASE_NAME
</sql>
<select id="selectPurchaseNum" resultType="string">
select concat(to_char(sysdate,'yyyyMMdd') , nvl(max(substr(purchase_num,9)),0 ) +1)
from purchase
where substr(purchase_num,1 ,8) = to_char(sysdate,'yyyyMMdd')
</select>
<insert id="purchaseInsert" parameterType="purchase" >
insert into purchase( <include refid="purchaseBaseColumns" /> )
values(#{purchaseNum},sysdate,#{purchasePrice}
	  ,#{deliveryAddr},#{deliveryAddrDetail},#{deliveryPost}
	  ,#{deliveryPhone},#{message},'입금대기중',#{memberNum}
	  ,#{deliveryName},#{purchaseName})
</insert>
<insert id="purchaseListInsert" parameterType="hashmap">
insert into purchase_list(GOODS_NUM, PURCHASE_NUM, PURCHASE_QTY, GOODS_UNIT_PRICE)
select c.GOODS_NUM, #{purchaseNum}, CART_QTY , CART_QTY * goods_price
from cart c join goods g
on c.goods_num = g.goods_num 
where member_num = #{memberNum}  
and c.goods_num in 
<foreach collection="goodsNums" item="goodsNum" close=")" open="("
		index="index" separator=",">
	#{goodsNum}
</foreach>
</insert>


</mapper>




