<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="purchaseRepositorySql">
<sql id="purchaseBaseColumns">
  PURCHASE_NUM, PURCHASE_DATE, PURCHASE_PRICE, DELIVERY_ADDR, DELIVERY_ADDR_DETAIL
, DELIVERY_POST, DELIVERY_PHONE, MESSAGE, PURCHASE_STATUS, MEMBER_NUM, DELIVERY_NAME
, PURCHASE_NAME
</sql>
<select id="selectPurchaseNum" resultType="string">
select concat(to_char(sysdate,'yyyyMMdd') , COALESCE(max(to_number(substr(purchase_num,9))),0 ) +1)
from purchase
where substr(purchase_num,1 ,8) = to_char(sysdate,'yyyyMMdd')
</select>
<insert id="purchaseInsert" parameterType="purchase" >
insert into purchase( <include refid="purchaseBaseColumns" /> )
values(#{purchaseNum},sysdate,#{purchasePrice}
	  ,#{deliveryAddr},#{deliveryAddrDetail},#{deliveryPost}
	  ,#{deliveryPhone},#{message},'입금대기중',#{memberNum}
	  ,#{deliveryName},#{purchaseName})
</insert>
<insert id="purchaseListInsert" parameterType="hashmap">
insert into purchase_list(GOODS_NUM, PURCHASE_NUM, PURCHASE_QTY, GOODS_UNIT_PRICE)
select c.GOODS_NUM, #{purchaseNum}, CART_QTY , CART_QTY * goods_price
from cart c join goods g
on c.goods_num = g.goods_num 
where member_num = #{memberNum}  
and c.goods_num in 
<foreach collection="goodsNums" item="goodsNum" close=")" open="("
		index="index" separator=",">
	#{goodsNum}
</foreach>
</insert>
<resultMap type="orderList" id="orderListResultMap">
	<association property="purchaseDTO" javaType="purchase">
		<constructor>
			<idArg column="purchase_Num" javaType="string" />
			<arg column="purchase_Date" javaType="java.util.Date"/>
			<arg column="purchase_Price" javaType="integer"/>
			<arg column="delivery_Addr" javaType="string"/>
			<arg column="delivery_Addr_Detail" javaType="string"/>
			<arg column="delivery_Post" javaType="string"/>
			<arg column="delivery_Phone" javaType="string"/>
			<arg column="message" javaType="string"/>
			<arg column="purchase_Status" javaType="string"/>
			<arg column="member_num" javaType="string"/>
			<arg column="delivery_name" javaType="string"/>
			<arg column="purchase_Name" javaType="string"/>		
		</constructor>
	</association>
	<association property="paymentDTO" javaType="payment">
		<id  column="purchase_num" jdbcType="VARCHAR" property="purchaseNum" />
		<result column="confirmnumber" jdbcType="VARCHAR" property="confirmnumber"/>
		<result column="cardnum" jdbcType="VARCHAR" property="cardnum"/>
		<result column="appldate" jdbcType="VARCHAR" property="appldate"/>
		<result column="APPTIME" jdbcType="VARCHAR" property="appltime"/>
		<result column="totalprice" jdbcType="BIGINT" property="totalprice"/>
	</association>
	<association property="deliveryDTO" javaType="delivery">
		<id  column="purchase_num" jdbcType="VARCHAR" property="purchaseNum" />
		<result column="delivery_num" jdbcType="VARCHAR" property="deliveryNum"/>
		<result column="delivery_date" jdbcType="DATE" property="deliveryDate"/>
		<result column="delivery_status" jdbcType="VARCHAR" property="deliveryStatus"/>
	</association>
	<collection property="purchaseListGoodsDTOs" ofType="purchaseListGoods">
		<association property="purchaseListDTO" javaType="purchaseList">
			<result column="purchase_qty" jdbcType="BIGINT" property="purchaseQty"/>
			<result column="GOODS_UNIT_PRICE" jdbcType="BIGINT" property="totalPrice"/>
		</association>
		<association property="goodsDTO" javaType="goods">
			<id column="goods_Num" jdbcType="VARCHAR" property="goodsNum"/>
			<result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
			<result column="GOODS_MAIN_STORE_IMAGE" jdbcType="VARCHAR" property="goodsMainStoreImage"/>
			<result column="goods_contents" jdbcType="VARCHAR" property="goodsContents" />
		</association>
		<association property="reviewDTO" javaType="review">
			<result column="REVIEW_DATE" jdbcType="DATE" property="reviewDate"/>
			<result column="REVIEW_CONTENTS" jdbcType="VARCHAR" property="reviewContents"/>
			<result column="MEMBER_ID" jdbcType="VARCHAR" property="memberId"/>
		</association>
	</collection>
</resultMap>
<select id="orderList" parameterType="hashmap" resultMap="orderListResultMap">
select  g.goods_num , goods_name, GOODS_MAIN_STORE_IMAGE, goods_contents
	   ,GOODS_UNIT_PRICE, PURCHASE_QTY
	   ,p.purchase_num , PURCHASE_DATE , PURCHASE_PRICE, DELIVERY_ADDR, DELIVERY_ADDR_DETAIL
	   ,DELIVERY_POST, DELIVERY_PHONE, MESSAGE, PURCHASE_STATUS, MEMBER_NUM
	   ,DELIVERY_NAME, PURCHASE_NAME
       ,CONFIRMNUMBER, CARDNUM,  APPLDATE, APPTIME, CONFIRMNUMBER, totalprice
       ,DELIVERY_NUM, DELIVERY_DATE, DELIVERY_STATUS
       ,REVIEW_DATE, REVIEW_CONTENTS, MEMBER_ID
from  goods g join purchase_list pl
on g.goods_num = pl.goods_num join purchase p
on pl.purchase_num = p.purchase_num left outer join payment pm
on p.purchase_num = pm.purchase_num left outer join delivery d
on p.purchase_num = d.purchase_num left outer join reviews r
on pl.purchase_num = r.purchase_num and pl.goods_num = r.goods_num 
<trim prefix="where"  prefixOverrides="AND | OR">
	<if test="memberNum != null">
		member_num = #{memberNum}
	</if>
	<if test="purchaseNum != null">
		and p.purchase_num = #{purchaseNum}
	</if>
</trim>
</select>
<select id="purchaseSelect" parameterType="string" resultType="purchase">
select  <include refid="purchaseBaseColumns" />
from purchase
where purchase_num = #{purchaseNum}
</select>
<insert id="paymentInsert" parameterType="payment">
insert into payment(PURCHASE_NUM,CONFIRMNUMBER,CARDNUM,TID,TOTALPRICE,RESULTMASSAGE,PAYMATHOD
					,APPLDATE,APPTIME)
values(#{purchaseNum},#{confirmnumber},#{cardnum},#{tid},#{totalprice},#{resultmassage}
	  ,#{paymathod},#{appldate},#{appltime})
</insert>
<delete id="paymentDel" parameterType="string">
	delete from payment
	where purchase_num = #{purchaseNum}
</delete>
<update id="paymentStatusUpdate" parameterType="string"> 
	update purchase
	set PURCHASE_STATUS = '구매확정'
	where purchase_num = #{purchaseNum}
</update>
</mapper>









