<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewMapperSql">
<select id="reviewSelectOne" resultType="string" parameterType="review"> 
select REVIEW_CONTENTS
from reviews
where GOODS_NUM = #{goodsNum} and purchase_num = #{purchaseNum}
</select>
<insert id="reviewInsert" parameterType="review">
insert INTO reviews (GOODS_NUM, purchase_num, REVIEW_DATE, REVIEW_CONTENTS, member_id)
values(#{goodsNum}, #{purchaseNum}, now() <!-- sysdate -->,  #{reviewContents}, #{memberId})
</insert>
</mapper>