<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="boardModify" method="post">
번호 : <input type="text" name="boardNum" th:value="${dto.boardNum }" readonly="readonly"/><br />
이름 : <input type="text" name="boardWriter" th:value="${dto.boardWriter }"/><br />
제목 : <input type="text" name="boardSubject" th:value="${dto.boardSubject }"/><br />
내용 : <textarea rows="10" cols="80" name="boardContent">[[${dto.boardContent }]]</textarea><br />
<input type="submit" value="게시글 수정 완료" /> 
</form>
</body>
</html>