<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
hello miso shopping<br />
<ul>
	<li><a href="member/memberList">회원 관리</a></li>
	<li><a href="employee/employeeList">직원 관리</a></li>
</ul>
<form action="/login/login" method="post" >
<table border="1" align="center">
	<tr><td colspan="2">자동로그인 | 아이디저장</td></tr>
	<tr><td>아 이 디 : <input type="text" name="userId" /></td>
		<td rowspan="2">
			<input type="image" src="/static/images/오케바리.gif" width="60" />
		</td></tr>
	<tr><td>비밀번호: <input type="password" name="userPw" /> </td></tr>
	<tr><td colspan="2">아이디 / 비밀번호 찾기 | 
		<a href="/register/userAgree">회원가입</a></td></tr>
</table>
</form>
</body>
</html>






