<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/money.js"></script>
<script type="text/javascript">
var page = 0;
$(function(){
	loadMoreItems();
	$("#load-more").click(loadMoreItems);
});
function loadMoreItems(){
	page ++;
	$.ajax({
		url : "/",
		type:"post",
		data : {"page": page},
		dataType : "json",
		success : function(model){
			var item  = '';
			item += '<table align = "center"  >';
			item += '<colgroup>';
			item += '<col span="3" width="300" height="330" /> ';
			item += '</colgroup>';
			item += '<tr>';
			$.each(model.list , function(idx, dto){
				item += '<td>';
				item += '<a href="corner/detailView/'+dto.goodsNum+'">';
				item += '<img src="/static/upload/'+ dto.goodsMainStoreImage +'" width="300" height="300"/><br />';
				item += dto.goodsName + '<br />';
				item += formatter.format(dto.goodsPrice) + '원<br />';
				item += '</a></td>';
				if((idx + 1) % 3 == 0) item += "</tr><tr>";
			});
			item += '</tr>';
			item += '</table>';
			$("#content").append(item);
			if(model.maxPage <= page )$("#load-more").css("display","none");
			if(model.maxPage == 0)page = 0;
		}
	})
}
  document.getElementById("hello").addEventListener("selectstart", function(event) {
    event.preventDefault(); // 텍스트 선택 시작 차단
  });
</script>
</head>
<body>
<script type="text/javascript">
  document.getElementById("hello").addEventListener("selectstart", function(event) {
    event.preventDefault(); // 텍스트 선택 시작 차단
  });
</script>
  <style>
    #hello {
      user-select: none; /* 텍스트 선택 방지 */
    }
  </style>
<svg width="280" id="hello" height="55" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color: red;" />
            <stop offset="100%" style="stop-color: yellow;" />
        </linearGradient>
    </defs>
    <text x="50%" y="50%" text-anchor="middle" fill="url(#gradient)" font-size="48" font-family="Arial" dy=".3em">
        111@EWRW
    </text>
</svg>
hello miso shopping<br />
<a href="smsSend">문자보내기</a>
<a href="mailling">메일보내기</a>
<a href="hospitals">병원</a>
<div th:if="${session.auth != null}">
<ul>
	<th:block th:if="${session.auth.grade == 'emp'}">
	<li><a href="member/memberList">회원 관리</a></li>
	<li><a href="employee/employeeList">직원 관리</a></li>
	<li><a href="goods/goodsList">상품관리</a></li>
	<li><a href="myPage/employeeMyPage">내정보 보기</a></li>
	<li><a href="/purchase/purchaseList">주문 내역</a></li>
	<li><a href="/inquire/goodsQuestion">상품 문의</a></li>
	</th:block>
	
	<th:block th:if="${session.auth.grade == 'mem'}">
	<li><a href="myPage/memberMyPage">내정보 보기</a></li>	
	<li><a href="/item/cartList">장바구니</a></li>
	<li><a href="/item/wishList">관심 목록</a></li>
	<li><a href="/purchase/orderList" >주문목록</a></li>
	</th:block>
	
	<li><a href="login/logout">로그아웃</a></li>
</ul>
</div>
<div th:if="${session.auth == null}">
<form action="/login/login" method="post" th:object="${loginCommand}" >
<table border="1" align="center">
	<tr><td colspan="2">자동로그인<input type="checkbox" name="autoLogin" /> | 
						아이디저장<input type="checkbox" name="idStore" 
								       th:checked="${loginCommand.idStore}" /></td></tr>
	<tr><td>아 이 디 : <input type="text" name="userId" th:value="${loginCommand.userId}" /><br />
			<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span></td>
		<td rowspan="2">
			<input type="image" src="/static/images/오케바리.gif" width="60" /></span>
		</td></tr>
	<tr><td>비밀번호: <input type="password" name="userPw" /><br />
			<span th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"> </td></tr>
	<tr><td colspan="2"><a href="/help/findId">아이디</a> / 
						<a href="/help/findPassword">비밀번호 찾기</a> | 
		<a href="/register/userAgree">회원가입</a></td></tr>
</table>
</form>
</div>
<div id="content">
<!-- 
<table align = "center"  >
	<colgroup>
		<col span="3" width="300" height="330" /> 
	</colgroup>
	<tr>
		<block th:each="dto, idx : ${list}">
			<td><img src="/static/upload/${dto.goodsMainStoreImage}" width="300" height="300"/><br/>
				${dto.goodsName}<br />
				${#numbers.formatCurrency(dto.goodsPrice) + "원"}<br />
			</td>
		<block if="${idx.count % 3 == 0}" utext="'</tr><tr>'"></block> 
		</block>
	</tr>
</table>
 -->
</div>
<table align = "center" width="900" >
	<tr><th><button id="load-more">더보기</button></th></tr>
</table>
</body>
</html>






