<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>goodsQuestion</title>
<script type="text/javascript">
function goodsDetail(goodsNum){
	window.open('/goods/goodsDetail?goodsNum='+goodsNum, '상품정보', 
			"width=800,height=700,left=100,top=100");
}
</script>
</head>
<body>
<table width="600" border=1 align="center" >
	<tr><th>번호</th><th>문의제목</th><th>제품번호</th></tr>
	<tr th:each="dto  , idx : ${list}" ><th>[[${idx.count }]]</th>
		<th><a th:href="|inquireAnswer?inquireNum=${dto.inquireNum }|">
					[[${dto.inquireKind}]] : [[${dto.inquireSubject }]]</a></th>
		<th><a th:href="|javascript:goodsDetail('${dto.goodsNum }');|">[[${dto.goodsNum }]]</a></th></tr>
</table>
</body>
</html>